.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-family: "Lack", sans-serif;
}
.logo:hover {
  color: #6AC1EF;
}
.logo img {
  width: 64px;
  margin: 0 19px 0 0;
}