.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #1B2631;
  color: #fff;
  padding: 84px 0 0;
}
.home .h1 {
  margin: 0;
  max-width: 800px;
}
.home .container {
  position: relative;
  z-index: 1;
}
.home .container::before, .home .container:after {
  content: "";
  position: absolute;
  top: -170px;
  width: 1px;
  height: 1120px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.home .container:after {
  right: 0;
}
.home .container::before {
  left: 0;
}

.home-category {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 107px 0 14px;
  position: relative;
  z-index: 1;
  padding: 0 14px;
}
.home-category::before, .home-category:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 1px;
  width: 1920px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 40%, white 50%, white 80%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
  opacity: 0.5;
}
.home-category:after {
  top: auto;
  bottom: 0;
}

.home-category-item {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 24px;
  flex: 1;
  fill: none;
  stroke: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "MPLUS1p", sans-serif;
  position: relative;
  z-index: 1;
}
.home-category-item::before, .home-category-item:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 1350px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.home-category-item:after {
  display: none;
  right: auto;
  left: 0;
}
.home-category-item:first-child:after {
  display: block;
}
.home-category-item svg {
  width: 45px;
  height: 45px;
  margin-left: auto;
}
.home-category-item:hover {
  color: #6AC1EF;
}
.home-category-item:hover svg {
  stroke: #6AC1EF;
}

.home-wrapper {
  padding: 0 14px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.home-slider {
  width: calc(100% - 366px);
}

.home-content {
  padding: 16px;
  max-width: 366px;
  width: 100%;
}
.home-content .box-text {
  margin: 0 0 16px;
  max-width: 300px;
}

.home-slider__nav {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
}
.home-slider__nav .slick-arrow {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #fff;
}
.home-slider__nav .slick-prev {
  margin: 0 16px 0 0;
}
.home-slider__nav .counter-slide {
  order: -1;
  margin: 0 auto 0 0;
}

.image-wrapper {
  border: 1px solid #1B2631;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 570px;
}
.image-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mission-section h2 {
  text-align: center;
  margin: 0 auto 120px;
  max-width: 800px;
}

.quote-icon {
  font-family: "KronaOne", sans-serif;
  font-size: 234px;
  line-height: 100%;
  text-align: center;
  margin: 0 auto -84px;
  color: #6AC1EF;
}

.mission-advantages {
  width: 100%;
  margin: 120px 0 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  background: #1B2631;
  color: #fff;
}

.mission-advantages-item {
  flex: 1;
  border: 1px solid #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.mission-advantages-item .box-text {
  margin: 0 0 auto;
}
.mission-advantages-item__icon {
  margin: 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border: 1px solid #fff;
}
.mission-advantages-item__icon img {
  width: 20px;
}

.choice-professionals h3 {
  font-size: 48px;
}

.mission-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6AC1EF;
  padding: 16px 0;
}
.mission-list-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  min-width: 42px;
  margin: 0 16px 0 0;
}

.catalog-section {
  position: relative;
  z-index: 1;
  padding: 0 0 104px;
}
.catalog-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 399px;
  background: #fff;
  z-index: -1;
}

.catalog-section-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 16px 8px;
  background: #1B2631;
}

.product-card {
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 8px;
}
.product-card__img {
  width: 100%;
  height: 457px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card__body {
  width: 100%;
  height: calc(100% - 457px);
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.product-card .box-text {
  margin: 20px 0 24px;
}
.product-card__title {
  color: #fff;
}
.product-card__title:hover {
  color: #6AC1EF;
}
.product-card .btn {
  margin: auto 0 0;
}
.product-card .price {
  margin: auto 0 0;
}
.product-card .price sup {
  font-size: 16px;
}

.history-company {
  padding: 120px 0 0;
}
.history-company .h1 {
  margin: 0 auto 24px;
  font-size: 80px;
}
.history-company h2 {
  max-width: 1000px;
  margin: 0 auto 80px;
}
.history-company .history-company-box {
  max-width: 704px;
}

.history-company-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history-company-box {
  width: 100%;
  margin: 0 0 40px;
  padding: 32px;
  border: 1px solid rgba(25, 41, 57, 0.4);
}
.history-company-box h3 {
  margin: 0 0 16px;
}

.history-company-slider {
  margin: 40px 0 0;
}

.history-company-slider__item {
  width: 100%;
  height: 591px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-company-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.geography-section {
  margin: 120px 0 80px;
}
.geography-section .history-company-box {
  height: 100%;
  margin: 0;
}
.geography-section .history-company-box h4 {
  margin: 0 0 16px;
}

.map-geography {
  width: 100%;
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balloon-content {
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 18px;
  line-height: 22px;
  height: auto;
  width: 100%;
  background: #fff;
}
.balloon-content strong {
  font-weight: 600;
  margin: 0 0 4px;
}
.balloon-content a {
  margin: 4px 0 0;
  color: #6AC1EF;
  text-decoration: underline;
}
.balloon-content a:hover {
  text-decoration: none;
  color: #1B2631;
}

.ymaps-2-1-79-balloon__close-button {
  background: url("../img/close-icon.svg") no-repeat center;
  background-size: 15px;
  width: 32px !important;
  height: 32px !important;
  padding: 8px;
  box-sizing: border-box !important;
  opacity: 1 !important;
}

.ymaps-2-1-79-balloon__content {
  max-width: none !important;
  min-width: 246px !important;
  margin: 0 !important;
  width: 100% !important;
  padding: 16px !important;
  font-family: "AvenirNextCyr", sans-serif !important;
}

.advantages-section {
  background: #1B2631;
  background-size: 100%;
  color: #fff;
  padding: 0 0 60px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.advantages-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;
  padding: 0 14px;
}
.advantages-wrapper::before, .advantages-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%);
  z-index: -1;
}
.advantages-wrapper::before {
  left: 0;
}
.advantages-wrapper:after {
  right: 0;
}

.advantages-box {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 95px;
  position: relative;
  z-index: 1;
}
.advantages-box::before, .advantages-box:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%);
  z-index: -1;
  display: none;
}
.advantages-box::before {
  left: 0;
  display: block;
}
.advantages-box:last-child:after {
  right: 0;
  display: block;
}
.advantages-box__top {
  width: 100%;
  min-height: 160px;
  padding: 32px 24px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.advantages-box__body {
  width: 100%;
  height: calc(100% - 160px);
  padding: 16px 10px 24px 34px;
  border-top: 1px solid #8d9298;
  border-bottom: 1px solid #8d9298;
  position: relative;
  z-index: 1;
}
.advantages-box:first-child .advantages-box__body::before, .advantages-box:first-child .advantages-box__body:after, .advantages-box:last-child .advantages-box__body::before, .advantages-box:last-child .advantages-box__body:after {
  content: "";
  position: absolute;
  top: -0.5px;
  width: 250px;
  height: 1px;
  background: linear-gradient(to right, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 100%);
  z-index: -1;
  right: 100%;
}
.advantages-box:first-child .advantages-box__body:after, .advantages-box:last-child .advantages-box__body:after {
  top: auto;
  bottom: -0.5px;
}
.advantages-box:last-child .advantages-box__body::before, .advantages-box:last-child .advantages-box__body:after {
  right: auto;
  left: 100%;
  background: linear-gradient(to right, #8d9298 0%, #8d9298 50%, rgba(141, 146, 152, 0) 100%);
}
.advantages-box .box-text {
  margin: auto 0 0;
}

.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #8D9298;
}
.project-card__img {
  width: 100%;
  height: 466px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card__body {
  width: 100%;
  height: calc(100% - 466px);
  padding: 16px 24px;
}
.project-card__title {
  color: #fff;
  font-size: 28px;
  font-family: "Lack", sans-serif;
  line-height: 32px;
}
.project-card__title:hover {
  color: #6AC1EF;
}

.news-card {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 32px 0;
  border-top: 1px solid #6AC1EF;
  position: relative;
  z-index: 1;
}
.news-card__date {
  position: absolute;
  left: 0;
  top: 32px;
  background: #1B2631;
  color: #fff;
  padding: 8px 16px;
  letter-spacing: 0.4px;
  z-index: 2;
}
.news-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 200px;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__body {
  display: flex;
  align-items: flex-end;
  width: calc(100% - 316px);
  padding: 0 0 0 32px;
}
.news-card__link {
  width: 52px;
  height: 52px;
  padding: 10px;
  min-width: 52px;
  fill: #fff;
  margin: 0 0 0 24px;
}
.news-card__title {
  color: #1B2631;
  font-size: 40px;
  line-height: 100%;
  font-family: "Lack", sans-serif;
  max-width: 554px;
  min-width: 554px;
  width: 100%;
}
.news-card__title:hover {
  color: #6AC1EF;
}
.news-card .box-text {
  color: rgba(25, 41, 57, 0.4);
}
.news-card:last-child {
  border-bottom: 1px solid #6AC1EF;
}

.callback-section {
  background: url("../img/callback-bg.jpg") no-repeat center;
  background-size: cover;
}
.callback-section__content {
  max-width: 698px;
}
.callback-section h2 {
  margin: 0 0 24px;
}

.callback-box {
  margin: 0 0 0 auto;
  max-width: 611px;
  width: 100%;
  background: #1B2631;
  padding: 48px;
}

.form-file-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.form-file-wrapper label {
  margin: 0;
}

.label-file {
  width: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9DBCD8;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.label-file:hover {
  background: #6AC1EF;
}
.label-file input {
  display: none;
}
.label-file__icon {
  fill: #fff;
  margin: 0 0 0 8px;
  width: 32px;
  height: 32px;
  min-width: 32px;
}
.label-file__result {
  width: 50%;
  height: 52px;
  background: #fff;
  color: rgba(25, 41, 57, 0.4);
  font-size: 18px;
  line-height: 22px;
  font-family: "MPLUS1p", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 24px;
}

.file-format {
  margin: 8px 0 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.form-footer {
  margin: 48px 0 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.consent-checkbox {
  margin: 0 16px 0 0;
}

.page {
  background: #1B2631;
  color: #fff;
}
.page .container {
  padding: 0 14px;
  position: relative;
  z-index: 1;
}
.page .container::before, .page .container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%);
}
.page .container::before {
  left: 0;
}
.page .container:after {
  right: 0;
}
.page .box-text {
  margin: 16px auto 0;
  max-width: 670px;
}

.decor-boxes {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  top: 0;
  left: 0;
}

.decor-box {
  flex: 1;
  position: relative;
  z-index: 1;
}
.decor-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%);
}

.page-wrapper {
  padding: 76px 0 120px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.page-wrapper::before, .page-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%);
}
.page-wrapper::before {
  left: 0;
}
.page-wrapper:after {
  right: 0;
}

.catalog-section-v2 {
  padding: 80px 0 104px;
}

.toggle-card-col {
  display: none;
}
.toggle-card-col:nth-child(-n+6) {
  display: block;
}

.category-special {
  padding: 24px 0 120px;
}

.news-section-page {
  padding: 120px 0;
}

.article-page {
  padding: 80px 0 0;
}
.article-page__content {
  max-width: 704px;
  height: 100%;
  width: 100%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
}
.article-page__content .box-text {
  max-width: 676px;
}
.article-page__content .box-text p {
  color: rgba(27, 38, 49, 0.6);
}
.article-page__content .box-text p strong {
  color: #1B2631;
}
.article-page__content .box-text h4 {
  margin: 0 0 8px;
}
.article-page .nav-breadcrumb {
  margin: 0 0 auto;
}
.article-page .news-card__date {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  margin: 0 0 12px;
}
.article-page__img {
  max-width: 704px;
  width: 100%;
  border: 16px solid #1B2631;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-page__img img {
  width: 100%;
}

.article-content {
  margin: 0 auto;
  max-width: 982px;
  width: 100%;
}
.article-content .box-text-big p {
  margin: 0 0 64px;
}
.article-content .box-text-big p:last-child {
  margin: 0;
}
.article-content .box-text-border {
  border-color: #9DBCD8;
  margin: 64px 0 0;
}

.advantages-for-clients {
  margin: 98px 0 0;
}

.project-page h1 {
  margin: 0 0 12px;
}
.project-address {
  margin: 0 0 48px;
}
.project-address p {
  color: rgba(27, 38, 49, 0.6);
}
.project-address p strong {
  color: #1B2631;
}

.realization .article-slider {
  margin: 0;
}
.realization .article-slider .slick-prev {
  left: 0;
}
.realization .article-slider .slick-next {
  right: 0;
}
.realization .history-company-box {
  max-width: none;
  margin: 0;
  height: 100%;
}

.contacts-page {
  padding: 80px 0 100px;
}
.contacts-page h1 {
  margin: 0 0 24px;
}
.contacts-page .nav-breadcrumb {
  margin: 0 0 48px;
}
.contacts-page .map-geography {
  height: 412px;
  width: 100%;
}
.contacts-page__head {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px;
}

.contacts-box {
  border: 1px solid rgba(27, 38, 49, 0.4);
  margin: 0 0 24px;
  padding: 32px;
  max-width: 578px;
  width: 100%;
}
.contacts-box:last-child {
  margin: 0;
}
.contacts-box:hover {
  background: #1B2631;
  color: #fff;
}

.list-social {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.list-social li {
  margin: 0 24px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6AC1EF;
  width: 52px;
  height: 52px;
  min-width: 52px;
  padding: 10px;
}
.list-social li a:hover {
  background: #1B2631;
}

.btn-requizites {
  margin-left: auto;
}
.btn-requizites svg {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin: 0 0 0 16px;
}

.contacts-address {
  margin: 0;
  max-width: 450px;
}

.manufacturer .article-slider {
  margin: 0;
}
.manufacturer .article-slider .slick-prev {
  left: 0;
}
.manufacturer .article-slider .slick-next {
  right: 0;
}

.title-wrapper {
  width: 100%;
  padding: 32px;
  margin: 0 0 48px;
  border: 1px solid rgba(27, 38, 49, 0.4);
}
.title-wrapper h2 {
  margin: 0;
}

.mission-section-my h2 {
  margin: 0 auto 24px;
}
.mission-section-my .box-text-big {
  text-align: center;
  max-width: 890px;
  margin: 0 auto;
}
.mission-section-my .box-text-big strong {
  display: inline;
}
.mission-section-my .mission-advantages-item {
  flex-direction: column-reverse;
}
.mission-section-my .mission-advantages-item .box-text {
  margin: auto 0 0;
}
.mission-section-my .mission-advantages-item__icon {
  margin: 0 0 24px;
}

.industrial-materials h2 {
  margin: 0 0 24px;
}

.industrial-materials-item .mission-list-item__icon {
  fill: #6AC1EF;
  border: 1px solid #6AC1EF;
  width: 48px;
  height: 48px;
  min-width: 48px;
  padding: 8px;
}

.product-page {
  padding: 80px 0;
}

.advantages-product {
  padding: 120px 0;
}
.advantages-product h2 {
  margin: 0;
  color: #fff;
}
.advantages-product .advantages-box__body {
  display: flex;
  align-items: flex-start;
}
.advantages-product .advantages-box__body .box-text {
  margin: 0;
}
.advantages-product .advantages-box__body h4 {
  margin: 0 0 8px;
}
.advantages-product .advantages-box__icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  background: #fff;
  margin: 0 24px 0 0;
  padding: 8px;
  fill: #1B2631;
}
.advantages-product .advantages-box:first-child .advantages-box__body::before, .advantages-product .advantages-box:first-child .advantages-box__body:after, .advantages-product .advantages-box:last-child .advantages-box__body::before, .advantages-product .advantages-box:last-child .advantages-box__body:after, .advantages-product .advantages-wrapper::before, .advantages-product .advantages-wrapper:after {
  display: none;
}

.applications-section {
  margin: 120px 0 100px;
}
.applications-section h2 {
  margin: 0 0 24px;
}

.applications-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1px solid #1B2631;
  background: #fff;
}
.applications-box__img {
  width: 100%;
  height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.applications-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.applications-box__body {
  width: 100%;
  height: calc(100% - 321px);
  padding: 24px;
}
.applications-box__body .box-text {
  margin: 4px 0 0;
}
.applications-box h4 {
  margin: 0;
}

.applications-box1 {
  background: #1B2631;
  color: #fff;
  padding: 32px;
  border-color: #1B2631;
}

.certificates-slider .slick-prev {
  left: 0;
}
.certificates-slider .slick-next {
  right: 0;
}

.certificate-item {
  width: 100%;
}
.certificate-item img {
  width: 100%;
}

.certificates-section .advantages-box {
  width: 33.3333%;
}
.certificates-section .advantages-box__top {
  height: 180px;
}
.certificates-section .advantages-box__body {
  height: calc(100% - 180px);
}
.certificates-section .advantages-box1 .advantages-box__body {
  padding: 0;
}

.link-toggle-text {
  display: flex;
  align-items: center;
  margin: 2px 0 0;
}
.link-toggle-text:hover {
  color: #fff;
}
.link-toggle-text:hover svg {
  fill: #fff;
}
.link-toggle-text svg {
  fill: #6AC1EF;
  width: 28px;
  height: 31px;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-toggle-text.active svg {
  transform: rotate(180deg);
}

.installation-section h2 {
  margin: 0;
}

.package-section {
  position: relative;
  z-index: 1;
}
.package-section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 423px;
  background: #1B2631;
}
.package-section .history-company-box {
  margin: 0 0 24px;
}
.package-section .history-company-box:last-child {
  margin: 0;
}

.package-slider {
  background: #1B2631;
  padding: 16px;
  margin: 132px auto 0;
}
.package-slider .slick-arrow {
  transform: none;
  top: -100px;
}
.package-slider .slick-prev {
  left: auto;
  right: 68px;
}
.package-slider .slick-next {
  right: 0;
}

.page-manufacturer .box-text {
  max-width: 1025px;
}

.stages-manufacturer {
  padding: 120px 0 96px;
}

.stages-manufacturer-box {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(27, 38, 49, 0.4);
  padding: 32px;
}
.stages-manufacturer-box h3 {
  color: #6AC1EF;
  font-size: 94px;
  font-family: "Lack", sans-serif;
}
.stages-manufacturer-box h4 {
  margin: 24px 0 12px;
}

.equipment-slider {
  margin: 116px 0 0 auto;
  padding: 16px;
  max-width: 892px;
  width: 100%;
  background: #1B2631;
}
.equipment-slider .slick-arrow {
  bottom: auto;
  top: -116px;
  transform: none;
  background: #fff;
  fill: #1B2631;
}
.equipment-slider .slick-arrow:hover {
  background: #6AC1EF;
  fill: #1B2631;
}
.equipment-slider .slick-prev {
  left: auto;
  right: 68px;
}
.equipment-slider .slick-next {
  right: 0;
}

.equipment-section {
  position: relative;
  z-index: 1;
}
.equipment-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: -1;
  right: 0;
  top: 0;
  background: #1B2631;
}
.equipment-section h2 {
  margin: 0 0 24px;
}
.equipment-section .box-text {
  margin: 0 0 24px;
}
.equipment-section .box-text:last-child {
  margin: 0;
}
.equipment-section .box-text ul {
  margin: 12px 0;
}
.equipment-section .box-text ul:last-child {
  margin: 12px 0 0;
}

.equipment-content {
  max-width: 476px;
  width: 100%;
}

.box-text-info {
  background: #6AC1EF;
  padding: 32px;
  color: #fff;
}

.equipment-characteristics {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.equipment-characteristics li {
  display: flex;
  align-items: center;
}
.equipment-characteristics li span {
  color: #6AC1EF;
  font-size: 40px;
  font-family: "Lack", sans-serif;
  margin: 0 0 0 8px;
}

.quality-control {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.quality-slider {
  padding: 24px;
  width: calc(100% - 496px);
}
.quality-slider__nav .slick-arrow {
  background: #fff;
  fill: #1B2631;
}
.quality-slider__nav .slick-arrow:hover {
  background: #6AC1EF;
  fill: #1B2631;
}

.quality-control-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  border: 1px solid #6D8897;
  border-left: none;
  border-right: none;
  position: relative;
  z-index: 1;
}
.quality-control-wrapper::before, .quality-control-wrapper:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1px;
  height: calc(100% + 240px);
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%);
}
.quality-control-wrapper::before {
  left: 0;
}
.quality-control-wrapper:after {
  right: 0;
}

.quality-control__content {
  max-width: 496px;
  width: 100%;
  padding: 24px;
  position: relative;
  z-index: 1;
}
.quality-control__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1px;
  height: calc(100% + 240px);
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%);
}
.quality-control__content .box-text p {
  margin: 0 0 24px;
}
.quality-control__content .box-text p:last-child {
  margin: 0;
}