@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lack";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Lack/Lack-Regular.eot");
  src: url("../fonts/Lack/Lack-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lack/Lack-Regular.woff") format("woff"), url("../fonts/Lack/Lack-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MPLUS1p";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MPLUS1p/MPLUS1p-Regular.eot");
  src: url("../fonts/MPLUS1p/MPLUS1p-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MPLUS1p/MPLUS1p-Regular.woff") format("woff"), url("../fonts/MPLUS1p/MPLUS1p-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MPLUS1p";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MPLUS1p/MPLUS1p-Bold.eot");
  src: url("../fonts/MPLUS1p/MPLUS1p-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MPLUS1p/MPLUS1p-Bold.woff") format("woff"), url("../fonts/MPLUS1p/MPLUS1p-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Geologica";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Geologica/Geologica-Light.eot");
  src: url("../fonts/Geologica/Geologica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geologica/Geologica-Light.woff") format("woff"), url("../fonts/Geologica/Geologica-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Unbounded/Unbounded-Regular.eot");
  src: url("../fonts/Unbounded/Unbounded-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded/Unbounded-Regular.woff") format("woff"), url("../fonts/Unbounded/Unbounded-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "KronaOne";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/KronaOne/KronaOne-Regular.eot");
  src: url("../fonts/KronaOne/KronaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/KronaOne/KronaOne-Regular.woff") format("woff"), url("../fonts/KronaOne/KronaOne-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #1B2631;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-decoration {
  text-decoration: underline;
}

.text-transform {
  text-transform: uppercase;
}

.d-inline {
  display: inline;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "AvenirNextCyr", sans-serif;
  border: 1px solid #fff;
  border-radius: 0;
  width: 100%;
  height: 52px;
  background: #fff;
  color: #1B2631;
  font-size: 18px;
  line-height: 22px;
  font-family: "MPLUS1p", sans-serif;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(25, 41, 57, 0.4);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(25, 41, 57, 0.4);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
  color: #1B2631;
  border-color: #6AC1EF;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 16px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 16px 24px;
  height: 120px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "AvenirNextCyr", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 32px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  height: 52px;
  border-radius: 0;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
  z-index: -1;
}
.btn:hover::before, .btn:focus::before {
  height: 100%;
}

.btn-border {
  border: 1px solid transparent;
}

.btn-border-white {
  border-color: #fff;
  color: #fff;
}
.btn-border-white svg {
  fill: #fff;
}
.btn-border-white::before {
  background: #6AC1EF;
}
.btn-border-white:hover, .btn-border-white:focus {
  border-color: #fff;
  color: #1B2631;
}

.btn-accent {
  background: #6AC1EF;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent::before {
  background: #1B2631;
}
.btn-accent:hover, .btn-accent:focus {
  color: #fff;
}
.btn-accent .btn-arrow__icon {
  fill: #fff;
  border-left: 1px solid #fff;
}

.btn-arrow {
  padding: 0;
}
.btn-arrow .btn-text {
  padding: 10px 20px 10px 32px;
}
.btn-arrow__icon {
  width: 52px;
  height: 52px;
  min-width: 52px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dark {
  fill: #fff;
  color: #fff;
  border: 1px solid #fff;
}
.btn-dark .btn-arrow__icon {
  border-left: 1px solid #fff;
}
.btn-dark::before {
  background: #6AC1EF;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1512px;
  padding: 0 12px;
}

.container-fluid {
  padding: 0 12px;
}

.row {
  margin: 0 -12px;
}
.row > * {
  padding: 0 12px;
}

.bg-dark {
  background: #1B2631 !important;
}

.color-white {
  color: #fff;
}

.color-accent {
  color: #6AC1EF;
}

.nav {
  margin: 0;
  padding: 0;
}

.p-120 {
  padding: 120px 0;
}

.m-0 {
  margin: 0;
}

.ml-auto {
  margin-left: auto;
}

.m-auto {
  margin: 0 auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-24 {
  margin-top: 24px;
}

.m-24 {
  margin: 24px 0;
}

h1, .h1 {
  width: 100%;
  margin: 0;
  font-family: "Lack", sans-serif;
  font-size: 64px;
  line-height: 90%;
}

h2, .h2 {
  width: 100%;
  margin: 0 auto 48px;
  font-size: 56px;
  font-family: "Lack", sans-serif;
  line-height: 100%;
}

h3, .h3 {
  width: 100%;
  margin: 0;
  font-size: 40px;
  font-family: "Lack", sans-serif;
  line-height: 100%;
}

h4, .h4 {
  width: 100%;
  margin: 0;
  font-size: 28px;
  line-height: 32px;
  font-family: "Lack", sans-serif;
}

.box-text {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.box-text p {
  margin: 0 0 12px;
}
.box-text p:last-child {
  margin: 0;
}

.box-text-big {
  font-size: 32px;
  line-height: 36px;
}
.box-text-big p {
  margin: 0 0 24px;
}
.box-text-big p:last-child {
  margin: 0;
}

.box-text-border {
  border: 1px solid #fff;
  padding: 32px;
}

.font-unbounded {
  font-family: "Unbounded", sans-serif;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}
.dropdown-toggle:after {
  width: 28px;
  height: 28px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
  background-size: 100%;
  border: none;
  vertical-align: middle;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  min-width: 327px;
  border: 1px solid #8D9298;
  border-radius: 0;
  background: #1B2631;
  padding: 0;
  font-size: 18px;
}
.dropdown-menu ul {
  width: 100%;
  margin: 0;
}
.dropdown-menu li {
  width: 100%;
  border-bottom: 1px solid #8D9298;
  position: relative;
}
.dropdown-menu li:last-child {
  border: none;
}
.dropdown-menu li .dropdown-menu {
  left: 100%;
  top: 0;
}
.dropdown-menu li .dropdown-menu a {
  border-bottom: 1px solid #8D9298;
  padding: 15px 24px;
  cursor: pointer;
}
.dropdown-menu li .dropdown-menu a:last-child {
  border: none;
}
.dropdown-menu a {
  cursor: pointer;
  width: 100%;
  color: #fff;
  padding: 12px 12px 12px 24px;
}
.dropdown-menu a:hover {
  background: #fff;
  color: #1B2631;
}
.dropdown-menu a:hover:after {
  background: url("../img/arrow-right-dark.svg") no-repeat center;
  background-size: 100%;
}

.submenu .dropdown-toggle:after {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 auto;
}

.nav-breadcrumb {
  width: 100%;
  margin: 0 auto 16px;
}

.breadcrumb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-family: "AvenirNextCyr", sans-serif;
}
.breadcrumb li a {
  color: #fff;
  display: flex;
  align-items: center;
}
.breadcrumb li a:hover {
  color: #6AC1EF;
}
.breadcrumb li a:after {
  content: "/";
  display: inline-block;
  margin: 0 10px;
}
.breadcrumb li.active {
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background: #1B2631;
  fill: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow svg {
  width: 32px;
  height: 32px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #6AC1EF;
  fill: #fff;
}

.slick-prev {
  right: 68px;
}

.slick-next {
  right: 0;
}

.counter-slide {
  font-size: 48px;
  display: flex;
  align-items: center;
  font-family: "Lack", sans-serif;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 16px;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked + .label-checkbox__custom {
  background: url("../img/checked.svg") no-repeat center;
  background-size: 10px;
}
.label-checkbox__custom {
  margin: 0 8px 0 0;
  position: relative;
  border-radius: 0;
  border: 1px solid #fff;
  background: transparent;
  width: 18px;
  height: 18px;
  min-width: 18px;
  cursor: pointer;
}