@import "vars"

footer
  background: $dark
  color: #fff
  padding: 120px 0
  border-top: 1px solid #6D8897
  .logo
    margin: 0 0 auto

.footer-box
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start

.footer-menu
  width: 100%
  line-height: 20px
  letter-spacing: .2px
  li
    margin: 0 0 16px
    &:last-child
      margin: 0
    a
      color: #fff
      font-family: $default-font
      &:hover
        color: $accent

.menu-document
  letter-spacing: .2px
  line-height: 20px
  li
    margin: 0 0 24px
    &:last-child
      margin: 0
    a
      color: $accent
      text-decoration: underline
      &:hover
        color: #fff

.footer-contacts
  margin: 0 0 24px
  &:last-child
    margin: 0
  p
    letter-spacing: 0.2px  
  a
    color: #fff
    font-size: 28px
    line-height: 32px
    font-family: $title-font
    &:hover
      color: $accent 
  span
    font-size: 18px
    line-height: 20px
    font-family: $font     
  .phone-link
    color: $accent
    &:hover
      color: #fff    

.modal-dialog
  max-width: 640px  
  
.modal-content
  background: $dark
  border: none
  border-radius: 0
  color: #fff
  padding: 64px
  form
    margin: 32px 0 0
  .form-footer
    margin: 32px 0 0  

.modal-title
  margin: 0 24px 0 0 
  line-height: normal 

.modal-header
  align-items: flex-start
  padding: 0
  border: none
  border-radius: 0
  .btn-close
    border: 1px solid #fff
    position: relative
    z-index: 1
    width: 52px
    min-width: 52px
    max-width: 52px
    height: 52px
    margin: 0 0 0 auto
    background: transparent
    fill: #fff
    opacity: 1
    border-radius: 0
    padding: 10px
    box-sizing: border-box
    @include d-flex
    &:focus
      box-shadow: none

.modal-body
  margin: 12px 0 0
  padding: 0
  border: none  

#thanksModal
  .modal-body
    margin: 140px 0 
    text-align: center
    .btn
      margin: 0 auto
  .modal-title
    margin: 0 auto 24px
  .box-text
    margin: 24px auto
        