@import "vars"

// home
.home
  position: relative
  z-index: 1
  overflow: hidden
  background: $dark
  color: #fff
  padding: 84px 0 0
  .h1
    margin: 0
    max-width: 800px
  .container
    position: relative
    z-index: 1
    &::before, &:after
      content: ''
      position: absolute
      top: -170px
      width: 1px
      height: 1120px
      z-index: -1
      background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #fff 50%, #fff 63%, rgba(#fff, 0) 100%)
      opacity: 0.5
    &:after
      right: 0
    &::before
      left: 0

.home-category
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  margin: 107px 0 14px
  position: relative
  z-index: 1
  padding: 0 14px
  &::before, &:after
    content: ''
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%,0)
    height: 1px
    width: 1920px
    background: linear-gradient(to right, rgba(#fff,0) 0%,rgba(#fff,1) 40%,rgba(#fff,1) 50%,rgba(#fff,1) 80%,rgba(#fff,0) 100%)
    z-index: -1
    opacity: 0.5
  &:after
    top: auto
    bottom: 0

.home-category-item
  display: flex
  align-items: center
  color: #fff
  padding: 20px 24px
  flex: 1
  fill: none
  stroke: #fff
  font-size: 18px
  text-transform: uppercase
  font-family: $font
  position: relative
  z-index: 1
  &::before, &:after
    content: ''
    position: absolute
    right: 0
    width: 1px
    height: 1350px
    z-index: -1
    background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #fff 50%, #fff 63%, rgba(#fff, 0) 100%)
    opacity: 0.5
  &:after
    display: none
    right: auto
    left: 0
  &:first-child
    &:after
      display: block

  svg
    width: 45px
    height: 45px
    margin-left: auto
  &:hover
    color: $accent
    svg
      stroke: $accent

.home-wrapper
  padding: 0 14px
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.home-slider
  width: calc( 100% - 366px )

.home-content
  padding: 16px
  max-width: 366px
  width: 100%
  .box-text
    margin: 0 0 16px
    max-width: 300px

.home-slider__nav
  margin: 30px 0 0
  display: flex
  align-items: center
  .slick-arrow
    position: relative
    z-index: 1
    top: 0
    left: 0
    right: 0
    border: 1px solid #fff
  .slick-prev
    margin: 0 16px 0 0
  .counter-slide
    order: -1
    margin: 0 auto 0 0

.image-wrapper
  border: 1px solid #1B2631
  @include d-flex
  height: 570px
  img
    height: 100%
    width: 100%
    object-fit: cover

// mission-section
.mission-section
  h2
    text-align: center
    margin: 0 auto 120px
    max-width: 800px

.quote-icon
  font-family: 'KronaOne', sans-serif
  font-size: 234px
  line-height: 100%
  text-align: center
  margin: 0 auto 24px
  color: $accent
  @include d-flex

.mission-advantages
  width: 100%
  margin: 120px 0 0
  display: flex
  align-items: stretch
  flex-wrap: wrap
  background: #1B2631
  color: #fff

.mission-advantages-item
  flex: 1
  border: 1px solid #fff
  padding: 32px
  display: flex
  flex-direction: column
  .box-text
    margin: 0 0 auto
  &__icon
    margin: 24px 0 0
    @include d-flex
    width: 48px
    height: 48px
    min-width: 48px
    border: 1px solid #fff
    img
      width: 20px

.choice-professionals
  h3
    font-size: 48px

.mission-list-item
  width: 100%
  display: flex
  align-items: center
  border-bottom: 1px solid $accent
  padding: 16px 0
  &__icon
    @include d-flex
    width: 42px
    height: 42px
    min-width: 42px
    margin: 0 16px 0 0

// catalog-section
.catalog-section
  position: relative
  z-index: 1
  padding: 0 0 104px
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 399px
    background: #fff
    z-index: -1

.catalog-section-wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  padding: 16px 8px
  background: $dark

.product-card
  flex: 1
  border: 1px solid rgba(#fff, .5)
  color: #fff
  margin: 0 8px
  &__img
    width: 100%
    height: 457px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    width: 100%
    height: calc( 100% - 457px )
    padding: 32px
    display: flex
    flex-direction: column
  .box-text
    margin: 20px 0 24px
  &__title
    color: #fff
    &:hover
      color: $accent
  .btn
    margin: auto 0 0
  .price
    margin: auto 0 0
    sup
      font-size: 16px

// history-company
.history-company
  padding: 120px 0 0
  .h1
    margin: 0 auto 24px
    font-size: 80px
  h2
    max-width: 1000px
    margin: 0 auto 80px
  .history-company-box
    max-width: 704px

.history-company-wrapper
  width: 100%
  display: flex
  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap

.history-company-box
  width: 100%
  margin: 0 0 40px
  padding: 32px
  border: 1px solid rgba(#192939, .4)
  h3
    margin: 0 0 16px

.history-company-slider
  margin: 40px 0 0

.history-company-slider__item
  width: 100%
  height: 591px
  @include d-flex
  img
    width: 100%
    height: 100%
    object-fit: cover

// geography-section
.geography-section
  margin: 120px 0 80px
  .history-company-box
    height: 100%
    margin: 0
    h4
      margin: 0 0 16px

.map-geography
  width: 100%
  height: 529px
  @include d-flex

.balloon-content
  font-family: $default-font
  font-size: 18px
  line-height: 22px
  height: auto
  width: 100%
  background: #fff
  strong
    font-weight: 600
    margin: 0 0 4px
  a
    margin: 4px 0 0
    color: $accent
    text-decoration: underline
    &:hover
      text-decoration: none
      color: $dark

.ymaps-2-1-79-balloon__close-button
  background: url('../img/close-icon.svg') no-repeat center
  background-size: 15px
  width: 32px !important
  height: 32px !important
  padding: 8px
  box-sizing: border-box !important
  opacity: 1 !important

.ymaps-2-1-79-balloon__content
  max-width: none !important
  min-width: 246px !important
  margin: 0 !important
  width: 100% !important
  padding: 16px !important
  font-family: $default-font !important

// advantages-section
.advantages-section
  background: $dark
  background-size: 100%
  color: #fff
  padding: 0 0 60px
  position: relative
  z-index: 1
  overflow: hidden

.advantages-wrapper
  width: 100%
  position: relative
  z-index: 1
  display: flex
  align-items: stretch
  padding: 0 14px
  &::before, &:after
    content: ''
    position: absolute
    top: 0
    width: 1px
    height: 100%
    background: linear-gradient(to bottom, rgba(#8d9298,0) 0%,rgba(#8d9298,1) 50%,rgba(#8d9298,1) 63%,rgba(#8d9298,0) 100%)
    z-index: -1
  &::before
    left: 0
  &:after
    right: 0

.advantages-box
  flex: 1
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: flex-end
  padding: 0 0 95px
  position: relative
  z-index: 1
  &::before, &:after
    content: ''
    position: absolute
    top: 0
    width: 1px
    height: 100%
    background: linear-gradient(to bottom, rgba(#8d9298,0) 0%,rgba(#8d9298,1) 50%,rgba(#8d9298,1) 63%,rgba(#8d9298,0) 100%)
    z-index: -1
    display: none
  &::before
    left: 0
    display: block
  &:last-child
    &:after
      right: 0
      display: block

  &__top
    width: 100%
    min-height: 160px
    padding: 32px 24px
    color: rgba(#fff,.5)
    display: flex
    flex-direction: column
    justify-content: flex-end

  &__body
    width: 100%
    height: calc( 100% - 160px )
    padding: 16px 10px 24px 34px
    border-top: 1px solid #8d9298
    border-bottom: 1px solid #8d9298
    position: relative
    z-index: 1
  &:first-child, &:last-child
    .advantages-box
      &__body
        &::before, &:after
          content: ''
          position: absolute
          top: -0.5px
          width: 250px
          height: 1px
          background: linear-gradient(to right, rgba(#8d9298,0) 0%,rgba(#8d9298,1) 50%,rgba(#8d9298,1) 100%)
          z-index: -1
          right: 100%
        &:after
          top: auto
          bottom: -0.5px
  &:last-child
    .advantages-box
      &__body
        &::before, &:after
          right: auto
          left: 100%
          background: linear-gradient(to right, rgba(#8d9298,1) 0%,rgba(#8d9298,1) 50%,rgba(#8d9298,0) 100%)
  .box-text
    margin: auto 0 0

// project section
.project-card
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  border: 1px solid #8D9298
  &__img
    width: 100%
    height: 466px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    width: 100%
    height: calc( 100% - 466px )
    padding: 16px 24px
  &__title
    color: #fff
    font-size: 28px
    font-family: $title-font
    line-height: 32px
    &:hover
      color: $accent

// news section
.news-card
  width: 100%
  display: flex
  align-items: stretch
  padding: 32px 0
  border-top: 1px solid $accent
  position: relative
  z-index: 1
  &__date
    position: absolute
    left: 0
    top: 32px
    background: $dark
    color: #fff
    padding: 8px 16px
    letter-spacing: 0.4px
    z-index: 2
  &__img
    @include d-flex
    width: 316px
    height: 200px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    display: flex
    align-items: flex-end
    width: calc( 100% - 316px )
    padding: 0 0 0 32px
  &__link
    width: 52px
    height: 52px
    padding: 10px
    min-width: 52px
    fill: #fff
    margin: 0
    position: absolute
    bottom: 0
    right: 0
    z-index: 1
  &__title
    color: #1B2631
    font-size: 40px
    line-height: 100%
    font-family: $title-font
    max-width: 554px
    min-width: 554px
    width: 100%
    &:hover
      color: $accent
  .box-text
    color: rgba(#192939, .4)
    position: relative
    z-index: 1
    padding: 0 76px 0 0

  &:last-child
    border-bottom: 1px solid $accent

// callback-section
.callback-section
  background: url('../img/callback-bg.jpg') no-repeat center
  background-size: cover
  &__content
    max-width: 698px
  h2
    margin: 0 0 24px

.callback-box
  margin: 0 0 0 auto
  max-width: 611px
  width: 100%
  background: $dark
  padding: 48px

.form-file-wrapper
  width: 100%
  display: flex
  align-items: stretch
  label
    margin: 0

.label-file
  width: 50%
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  background: #9DBCD8
  padding: 10px
  font-weight: 500
  font-size: 18px
  line-height: 18px
  color: #fff
  text-transform: uppercase
  letter-spacing: 0.4px
  cursor: pointer
  &:hover
    background: $accent
  input
    display: none
  &__icon
    fill: #fff
    margin: 0 0 0 8px
    width: 32px
    height: 32px
    min-width: 32px
  &__result
    width: 50%
    height: 52px
    background: #fff
    color: rgba(#192939, .4)
    font-size: 18px
    line-height: 22px
    font-family: $font
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 10px 24px

.file-format
  margin: 8px 0 0
  display: block
  color: rgba(#fff, .5)

.form-footer
  margin: 48px 0 0
  width: 100%
  display: flex
  align-items: flex-start

.consent-checkbox
  margin: 0 16px 0 0

// page
.page
  background: $dark
  color: #fff
  .container
    padding: 0 14px
    position: relative
    z-index: 1
    &::before, &::after
      content: ''
      position: absolute
      top: 0
      width: 1px
      height: 100%
      background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%)
    &::before
      left: 0
    &:after
      right: 0
  .box-text
    margin: 16px auto 0
    max-width: 670px

.decor-boxes
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  display: flex
  align-items: stretch
  top: 0
  left: 0

.decor-box
  flex: 1
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 1px
    height: 100%
    background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%)

.page-wrapper
  padding: 76px 0 120px
  text-align: center
  position: relative
  z-index: 1
  &::before, &::after
    content: ''
    position: absolute
    top: 0
    width: 1px
    height: 100%
    background: linear-gradient(to bottom, rgba(141, 146, 152, 0) 0%, #8d9298 50%, #8d9298 63%, rgba(141, 146, 152, 0) 100%)
  &::before
    left: 0
  &:after
    right: 0

.catalog-section-v2
  padding: 80px 0 104px

.toggle-card-col
  display: none
  &:nth-child(-n+6)
    display: block

.category-special
  padding: 24px 0 120px

.news-section-page
  padding: 120px 0

.article-page
  padding: 80px 0 0
  &__content
    max-width: 704px
    height: 100%
    width: 100%
    margin: 0 0 0 auto
    display: flex
    flex-direction: column
    .box-text
      max-width: 676px
      p
        color: rgba($dark, .6)
        strong
          color: $dark
      h4
        margin: 0 0 8px
  .nav-breadcrumb
    margin: 0 0 auto
  .news-card__date
    position: relative
    width: fit-content
    top: 0
    margin: 0 0 12px
  &__img
    max-width: 704px
    width: 100%
    border: 16px solid $dark
    height: 100%
    @include d-flex
    img
      width: 100%

.article-content
  margin: 0 auto
  max-width: 982px
  width: 100%
  .box-text-big
    p
      margin: 0 0 64px
      &:last-child
        margin: 0
  .box-text-border
    border-color: $gray
    margin: 64px 0 0

.advantages-for-clients
  margin: 98px 0 0

.project-page
  h1
    margin: 0 0 12px
  .box-text

.project-address
  margin: 0 0 48px
  p
    color: rgba($dark, .6)
    strong
      color: $dark

.realization
  .article-slider
    margin: 0
    .slick-prev
      left: 0
    .slick-next
      right: 0
  .history-company-box
    max-width: none
    margin: 0
    height: 100%

.contacts-page
  padding: 80px 0 100px
  h1
    margin: 0 0 24px
  .nav-breadcrumb
    margin: 0 0 48px
  .map-geography
    height: 412px
    width: 100%
  &__head
    width: 100%
    display: flex
    align-items: flex-start
    margin: 0 0 16px

.contacts-box
  border: 1px solid rgba($dark, .4)
  margin: 0 0 24px
  padding: 32px
  max-width: 578px
  width: 100%
  &:last-child
    margin: 0
  &:hover
    background: $dark
    color: #fff

.list-social
  width: 100%
  display: flex
  align-items: flex-start
  li
    margin: 0 24px 0 0
    &:last-child
      margin: 0
    a
      @include d-flex
      background: $accent
      width: 52px
      height: 52px
      min-width: 52px
      padding: 10px
      &:hover
        background: $dark

.btn-requizites
  margin-left: auto
  svg
    width: 32px
    height: 32px
    min-width: 32px
    margin: 0 0 0 16px

.contacts-address
  margin: 0
  max-width: 450px

.manufacturer
  .article-slider
    margin: 0
    .slick-prev
      left: 0
    .slick-next
      right: 0

.title-wrapper
  width: 100%
  padding: 32px
  margin: 0 0 48px
  border: 1px solid rgba($dark, .4)
  h2
    margin: 0

.mission-section-my
  h2
    margin: 0 auto 24px
  .box-text-big
    text-align: center
    max-width: 890px
    margin: 0 auto
    strong
      display: inline
  .mission-advantages-item
    flex-direction: column-reverse
    .box-text
      margin: auto 0 0
  .mission-advantages-item__icon
    margin: 0 0 24px

.industrial-materials
  h2
    margin: 0 0 24px

.industrial-materials-item
  .mission-list-item__icon
    fill: $accent
    border: 1px solid $accent
    width: 48px
    height: 48px
    min-width: 48px
    padding: 8px

.product-page
  padding: 80px 0

.advantages-product
  padding: 120px 0
  h2
    margin: 0
    color: #fff
  .advantages-box__body
    display: flex
    align-items: flex-start
    .box-text
      margin: 0
    h4
      margin: 0 0 8px
  .advantages-box__icon
    width: 48px
    height: 48px
    min-width: 48px
    background: #fff
    margin: 0 24px 0 0
    padding: 8px
    fill: $dark
  .advantages-box:first-child .advantages-box__body::before, .advantages-box:first-child .advantages-box__body:after, .advantages-box:last-child .advantages-box__body::before, .advantages-box:last-child .advantages-box__body:after, .advantages-wrapper::before, .advantages-wrapper:after
    display: none

.applications-section
  margin: 120px 0 100px
  h2
    margin: 0 0 24px

.applications-box
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-end
  border: 1px solid $dark
  background: #fff
  &__img
    width: 100%
    height: 321px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    width: 100%
    height: calc( 100% - 321px )
    padding: 24px
    .box-text
      margin: 4px 0 0
  h4
    margin: 0

.applications-box1
  background: $dark
  color: #fff
  padding: 32px
  border-color: $dark

.certificates-slider
  .slick-arrow
    top: auto
    transform: none
    bottom: 12px
  .slick-prev
    left: 12px
  .slick-next
    right: auto
    left: 76px

.certificate-item
  width: 100%
  img
    width: 100%

.certificates-section
  .advantages-box
    width: 33.3333%
    &__top
      height: 180px
    &__body
      height: calc( 100% - 180px )
  .advantages-box1
    .advantages-box__body
      padding: 0

.link-toggle-text
  display: flex
  align-items: center
  margin: 2px 0 0
  &:hover
    color: #fff
    svg
      fill: #fff
  svg
    fill: $accent
    width: 28px
    height: 31px
    min-width: 28px
    @include d-flex
  &.active
    svg
      transform: rotate(180deg)

.installation-section
  h2
    margin: 0

.package-section
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    z-index: -1
    height: 423px
    background: $dark
  .history-company-box
    margin: 0 0 24px
    &:last-child
      margin: 0

.package-slider
  background: $dark
  padding: 16px
  margin: 132px auto 0
  .slick-arrow
    transform: none
    top: -100px
  .slick-prev
    left: auto
    right: 68px
  .slick-next
    right: 0

.page-manufacturer
  .box-text
    max-width: 1025px

.stages-manufacturer
  padding: 120px 0 96px

.stages-manufacturer-box
  width: 100%
  height: 100%
  border: 1px solid rgba($dark, .4)
  padding: 32px
  h3
    color: $accent
    font-size: 94px
    font-family: $title-font
  h4
    margin: 24px 0 12px

.equipment-slider
  margin: 116px 0 0 auto
  padding: 16px
  max-width: 892px
  width: 100%
  background: $dark
  .slick-arrow
    bottom: auto
    top: -116px
    transform: none
    background: #fff
    fill: $dark
    &:hover
      background: $accent
      fill: $dark
  .slick-prev
    left: auto
    right: 68px
  .slick-next
    right: 0    


.equipment-section
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    height: 100%
    width: 50%
    z-index: -1
    right: 0
    top: 0
    background: $dark
  h2
    margin: 0 0 24px
  .box-text
    margin: 0 0 24px
    &:last-child
      margin: 0
    ul
      margin: 12px 0
      &:last-child
        margin: 12px 0 0  

.equipment-content
  max-width: 476px
  width: 100%

.box-text-info
  background: $accent
  padding: 32px
  color: #fff    

.equipment-characteristics
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  li
    display: flex
    align-items: center
    span
      color: $accent   
      font-size: 40px
      font-family: $title-font
      margin: 0 0 0 8px  

.quality-control
  position: relative
  z-index: 1
  overflow: hidden


.quality-slider 
  padding: 24px
  width: calc( 100% - 496px )
  &__nav
    .slick-arrow
      background: #fff
      fill: $dark 
      &:hover
        background: $accent
        fill: $dark

.quality-control-wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  border: 1px solid #6D8897   
  border-left: none
  border-right: none  
  position: relative
  z-index: 1
  &::before, &:after
    content: ''
    position: absolute
    z-index: -1
    width: 1px
    height: calc(100% + 240px)
    top: 50%
    transform: translate(0,-50%)
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%)
  &::before
    left: 0
  &:after
    right: 0  

       

.quality-control__content
  max-width: 496px
  width: 100%
  padding: 24px
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    z-index: -1
    width: 1px
    height: calc(100% + 240px)
    top: 50%
    right: 0
    transform: translate(0,-50%)
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 63%, rgba(255, 255, 255, 0) 100%)
  .box-text
    p
      margin: 0 0 24px
      &:last-child
        margin: 0


